/* HEADER COMPONENT  --------------------------------------------- */

.depth-frame {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    align-items: flex-start;
    position: relative;
    width: 100%;
    background-color: #111921;
}

.div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.depth-frame-2 {
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    border-bottom: 1px solid #e5e8ea;
    display: flex;
    width: 100%;
}

.depth-frame-3 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
}

.img {
    flex: 0 0 auto;
}

.div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.VEM-atomobil {
    font-family: "Manrope-Bold", Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
    line-height: 23px;
}

.depth-frame-4 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
    flex-grow: 1;
}

.depth-frame-5 {
    display: inline-flex;
    height: 40px;
    align-items: center;
    gap: 36px;
}

.text-wrapper {
    font-family: "Manrope-Medium", Helvetica, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
}

.depth-frame-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.vector {
    position: absolute;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 16px;
}

.depth-frame-7 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    //background-image: url("assets/img/depth-4-frame-2.png");
    background-size: cover;
    background-position: center;
}