<div class="depth-frame">
  <div class="div">
    <div class="depth-frame-2">
      <div class="depth-frame-3">
        <img
          class="img"
          src="https://res.cloudinary.com/dp0q82phu/image/upload/w_137,h_50/LogoMark_f7ntxz.png"
          alt="Logo"
        />

        <div class="div-wrapper">
          <div class="VEM-atomobil">VEM Automobil</div>
        </div>
      </div>

      <nav class="depth-frame-4">
        <div class="depth-frame-5">
          <div class="div-wrapper"><div class="text-wrapper">Dashboard</div></div>
          <div class="div-wrapper"><div class="text-wrapper">Vehicles</div></div>
          <div class="div-wrapper"><div class="text-wrapper">Expenses</div></div>
        </div>
      </nav>
    </div>
  </div>
</div>
